client/node_modules
client/jspm_packages
client/bower_components
client/.idea
client/.DS_STORE
client/dist/
client/build/reports
client/coverage
client/test/e2e/dist
client/export

server/node_modules
server/jspm_packages
server/bower_components
server/.idea
server/.DS_STORE
server/dist
server/build/reports
server/coverage
server/test/e2e/dist
server/export

node_modules
jspm_packages
bower_components
.idea
.DS_STORE
dist
build/reports
coverage
test/e2e/dist
export
